.deleteContentForm {
    display: inline;
}


.help-block {
    font-weight: bold;
    font-style: italic;
}

.pagination span{
    float: left;
    padding: 0 14px;
    line-height: 34px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination li:first-child span, {
    -webkit-border-radius: 3px 0 3px 0;
    -moz-border-radius: 3px 0 3px 0;
    border-radius: 3px 0 3px 0;
    border-right-width: 0;
}

.pagination{
    margin-right: 10px;
    float: right;
}

.advertise-filter-form{margin-left: 10px; margin-bottom: 8px}

.advertise-widget-content{
    border-radius: 0px;border-bottom: 0px;
}

.advertise-filter-form span{font-weight: bold}

.advertise-filter-form input, .advertise-filter-form select{
    margin-right: 10px;
    margin-top: 10px;
}

.box-head .nav li.active>a{
    background-color: #EEEEEE;
}

.main-menu > li > a {
    color: #000000;
}

#sidebar .nav-brand {
    height: 70px;
}

.ntc-text {
    color: #31708f;
    font-size: 20px;
}