.box .style-inverse,
.box.style-inverse {
    background-color: #F3C12E !important;
    border-color: #F3C12E !important;
    color: #000 !important;
}

.body-dark {
    background: #1A76A7 !important;

}

.btn-primary {
    color: #ffffff !important;
    background-color: #1A76A7 !important;
    border-color: #1A76A7 !important;
}

.box {
    margin-bottom: 20px !important;
    background-color: #ffffff !important;
}

body {
    font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
    font-size: 13px !important;
    line-height: 1.428571429 !important;
    color: #333333 !important;
    background-color: #ffffff !important;
}

.box-type-login:before {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(20deg, #ffffff, rgba(255, 255, 255, 0.15)) !important;
    background-image: linear-gradient(20deg, #ffffff, rgba(255, 255, 255, 0.15)) !important;
}

.box-type-login .box .box-body {
    width: 430px !important;
    height: 275px !important;
}